*{
    margin: 0;
    padding: 0;
}
#container{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72,#a8eb12);
}

#calc{
    width: 400px;
    height: 760px;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
}

#disp{
    width: 100%;
    height: 140px;
    background-color: #EDF5E1;
    display: flex;
    justify-content: end;
    align-items: center;
    overflow: hidden;
    border: 0.2px solid rgb(255, 255, 255);
    border-radius: 12px;
    margin-bottom: 5px;
}

#disp-para{
    font-size: 3.2rem;
    padding: 10px;
    color: #05386B;
}

#btn-container{
    height: 610px;
    width: 100%;
    background-color: #EDF5E1;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    border: 0.2px solid white;
}

.line{
    display: flex;
    flex-direction: row;
}

.button{
    height: 110px;
    background-color: #8EE4AF;
    cursor: pointer;
    width: 100px;
    margin: 5px;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.button span{
    font-size: 2.2rem;
}